@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary transition-all duration-100 ease-linear m-0 p-0 text-black text-base font-instrumentSans;
}

@layer components {
  /* CONFIG STYLE */
  .container {
    @apply w-[90%] md:w-4/5 lg:w-[90%] 2xl:w-[1500px] m-auto max-w-[90%] overflow-hidden;
  }

  .dashboard-wrapper {
    @apply 2xl:w-[1500px] m-auto overflow-hidden w-[90%] py-5;
  }

  .section {
    @apply py-16;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }

  /* For Edge & Internet Explorer */
  .no-scrollbar {
    -ms-overflow-style: none;
  }

  .shadow-card {
    box-shadow: 0px 0px 32px 0px #0000001a;
  }

  /* Input classes */
  .form-group {
    @apply flex flex-col gap-2;
  }
  .form-group .inputField,
  .date-picker {
    @apply w-full text-sm placeholder:text-sm px-4 py-2 h-[48px] border-[0.5px] border-border-primary rounded-lg focus:outline-none focus:ring-[1px] focus:ring-primary focus:border-transparent;
  }
  .form-group .input-error {
    @apply !border !border-red-500 placeholder-red-200 focus:ring-0 focus:shadow-none;
  }
  .form-group .error,
  .p-error {
    @apply !text-red-500;
  }
  .form-group .error-message {
    @apply text-red-500 text-xs ml-1;
  }
  .form-group span.required-mark {
    @apply text-red-500;
  }

  /* global styles */
  :where(.custom-dropdown .p-dropdown) {
    @apply bg-red-400 text-white border border-red-300 rounded-md;
  }

  :where(.custom-dropdown .p-dropdown-label) {
    @apply text-sm;
  }
}
